<div class="container-fluid">

  <div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Política Privacidade</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <p><span style="color: rgb(68, 68, 68);">A sua privacidade é importante para nós. É política do Arcoverde
              Consultoria respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site
              <a href="http://www.arcoverdeconsultoria.com.br/" style="color: blueviolet;">Arcoverde Consultoria</a>, e
              outros sites que possuímos
              e operamos.</span></p>
          <p><span style="color: rgb(68, 68, 68);">Solicitamos informações pessoais apenas quando realmente precisamos
              delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e
              consentimento. Também informamos por que estamos coletando e como será usado.</span></p>
          <p><span style="color: rgb(68, 68, 68);">Apenas retemos as informações coletadas pelo tempo necessário para
              fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente
              aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não
              autorizados.</span></p>
          <p><span style="color: rgb(68, 68, 68);">Não compartilhamos informações de identificação pessoal publicamente
              ou com terceiros, exceto quando exigido por lei.</span></p>
          <p><span style="color: rgb(68, 68, 68);">O nosso site pode ter links para sites externos que não são operados
              por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos
              aceitar responsabilidade por suas respectivas&nbsp;</span>
          <p><span style="color: rgb(68, 68, 68);">Você é livre para recusar a nossa solicitação de informações
              pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</span></p>
          <p><span style="color: rgb(68, 68, 68);">O uso continuado de nosso site será considerado como aceitação de
              nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como
              lidamos com dados do usuário e informações pessoais, entre em contacto connosco.</span></p>
          <p><span style="color: rgb(68, 68, 68);"></span></p>
          <h5><span style="color: rgb(68, 68, 68);">Compromisso do Usuário</span></h5>
          <p><span style="color: rgb(68, 68, 68);">O usuário se compromete a fazer uso adequado dos conteúdos e da
              informação que o Arcoverde Consultoria oferece no site e com caráter enunciativo, mas não
              limitativo:</span></p>
          <ul>
            <li><span style="color: rgb(68, 68, 68);">A) Não se envolver em atividades que sejam ilegais ou contrárias à
                boa fé a à ordem pública;</span></li>
            <li><span style="color: rgb(68, 68, 68);">B) Não difundir propaganda ou conteúdo de natureza racista,
                xenofóbica, </span><span style="color: rgb(33, 37, 41);"><a href='https://betnacionalbrasil.br.com'
                  style='color:inherit !important; text-decoration: none !important; font-size: inherit !important;'>Bet
                  Nacional</a></span><span style="color: rgb(68, 68, 68);"> ou azar, qualquer tipo de pornografia
                ilegal, de apologia ao terrorismo ou contra os direitos humanos;</span></li>
            <li><span style="color: rgb(68, 68, 68);">C) Não causar danos aos sistemas físicos (hardwares) e lógicos
                (softwares) do Arcoverde Consultoria, de seus fornecedores ou terceiros, para introduzir ou disseminar
                vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar
                danos anteriormente mencionados.</span></li>
          </ul>
          <h5><span style="color: rgb(68, 68, 68);">Mais informações</span></h5>
          <p><span style="color: rgb(68, 68, 68);">Esperemos que esteja esclarecido e, como mencionado anteriormente, se
              houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies
              ativados, caso interaja com um dos recursos que você usa em nosso site.</span></p>
          <p><span style="color: rgb(68, 68, 68);">Esta política é efetiva a partir de&nbsp;1 February 2024 13:22</span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fechar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-2 justify-content-center text-center">
    <div class="politica" (click)="popPolitica()">
      <i class="bi bi-shield-lock-fill"></i> A Arcoverde preocupa-se com a proteção dos seus dados
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="home col-md-8 col-sm-11">
      <div class="col-12">
        <!-- Navigation-->
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ">
          <a href="/" class="d-flex align-items-center">
            <img src="../assets/img/logo.png" width="140" class="img-fluid mr-5 mt-2" />
          </a>


          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-0 mt-3">
                  <li class="nav-item"><a href="#ARCOVERDE" class="nav-link active" aria-current="page">A ARCOVERDE</a>
                  </li>
                  <li class="nav-item"><a href="#SOLUCOES" class="nav-link">SOLUÇÕES</a></li>
                  <li class="nav-item"><a href="#BENEFICIOS" class="nav-link">BENEFÍCIOS</a></li>
                  <li class="nav-item"><a href="#CLIENTES" class="nav-link">CLIENTES</a></li>
                  <li class="nav-item bgnav"><a href="#CONTATO" class="nav-link">CONTATO</a></li>
                </ul>
             
              </div>
            </div>
          </nav>


        </header>
      </div>
      <div class="row ">
        <div class="col-6 banner2">
          <img src="../assets/img/banner2.png" class="img-fluid" width="270" />
        </div>
        <div class="col-2 whatsapp">
          <img src="../assets/img/whatsapp.png" class="img-fluid" width="100" />
          <div class="grupoItens">
            <div class="icons"><i class="bi bi-instagram"></i></div>
            <div class="icons"><i class="bi bi-facebook"></i></div>
            <div class="icons"><i class="bi bi-linkedin"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Mashead header-->
<header class="masthead">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-10 mb-5 linha"></div>
      <div class="col-lg-10">
        <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h3 class="titulo" id="ARCOVERDE">A Arcoverde</h3>
          <p class="lead fw-normal mb-5 texto">A Arcoverde Consultoria e Soluções em Negócios foi criada em
            2020 com o objetivo de ajudar na sustentabilidade das empresas.
            Somos uma empresa que oferece serviço de BPO financeiro e que ajuda as organizações a se tornarem mais
            competitivas no mercado. Com trajetória sólida de seus colaboradores, experiência de mercado e um
            compromisso inabalável com a excelência, a Arcoverde Consultoria e Soluções em Negócios está pronta para
            simplificar e otimizar suas operações financeiras. Nossas soluções são diversificadas permitindo adequá-las
            às suas necessidades.</p>

        </div>

        <div class="mb-5 mb-lg-0 text-center text-lg-start">

          <p class="lead fw-normal mb-5 texto">
            <span class="titulo2">Propósito:</span> Apoiar empresários no crescimento da empresa, dando-lhes
            tranquilidade e tempo para se dedicarem às questões estratégicas visando o crescimento do seu negócio.
            <br />
            <span class="titulo2">Aspirações:</span> Ser a maior empresa de BPO financeiro de Minas Gerais, referência
            na
            área, onde o cliente é colocado sempre em primeiro lugar.<br />
            <span class="titulo2">Princípios e Crenças:</span><br />
            Transparência | Integridade | Segurança da informação | Ética | Personalização | Excelência | Foco no
            cliente
          </p>

          <div class="row ml-1">
            <div class="col-md-6 pl-0">
              <h3 class="titulo">O que é BPO Financeiro te FPO+</h3>

              <p class="lead fw-normal mb-5 texto">
                BPO é uma sigla em inglês que significa Business Process Outsourcing, em português: <b>Terceirização de
                  Processos de Negócios.</b> É uma estratégia usada por empresas para delegar suas tarefas financeiras a
                parceiros
                especializados. O FPO+ é uma espécie de BPO mais abrangente e completo.<b> Imagine ter um time dedicado
                  e
                  especializado cuidando dessas áreas cruciais do seu negócio, permitindo que você se concentre no que
                  realmente importa: o crescimento da sua empresa.</b>
              </p>

            </div>
            <div class="col-md-4 align-items-center justify-content-center centered-img">
              <img src="../assets/img/fpomais.png" width="100%" />
            </div>
          </div>
        </div>

      </div>



      <div class="col-lg-10 mb-5 linha"></div>
    </div>
  </div>

</header>
<!-- Quote/testimonial aside-->

<aside class="bg2">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-10">
        <h3 class="titulo2" id="SOLUCOES">SOLUÇÕES</h3>
        <div class="containerItens ">
          <div class="itemsicon ">
            <div class="ico"><img src="../assets/img/i01.png" width="70" alt="icon" /></div>
            <div class="icotxt  ">CONTAS A PAGAR</div>
          </div>
          <div class="itemsicon">
            <div class="ico"><img src="../assets/img/i02.png" width="70" alt="icon" /></div>
            <div class="icotxt">CONTAS A RECEBER</div>
          </div>
          <div class="itemsicon">
            <div class="ico"><img src="../assets/img/i03.png" width="70" alt="icon" /></div>
            <div class="icotxt">FATURAMENTO</div>
          </div>
          <div class="itemsicon">
            <div class="ico"><img src="../assets/img/i04.png" width="60" alt="icon" /></div>
            <div class="icotxt">COBRANÇAS</div>
          </div>
          <div class="itemsicon">
            <div class="ico"><img src="../assets/img/i05.png" width="70" alt="icon" /></div>
            <div class="icotxt">FECHAMENTO CONTÁBIL</div>
          </div>
          <div class="itemsicon">
            <div class="ico"><img src="../assets/img/i06.png" width="70" alt="icon" /></div>
            <div class="icotxt">CONTROLADORIA E AUDITORIA RECEBÍVEIS</div>
          </div>
          <div class="itemsicon">
            <div class="ico"><img src="../assets/img/i07.png" width="60" alt="icon" /></div>
            <div class="icotxt">INDICADORES DE GESTÃO</div>
          </div>
          <div class="itemsicon">
            <div class="ico"><img src="../assets/img/i08.png" alt="icon" width="70" /></div>
            <div class="icotxt">CERTIFICADO DIGITAL</div>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>


    <div class="row gx-5 align-items-center justify-content-center mt-5">
      <div class="col-lg-10">
        <h3 class="titulo2">PLANOS</h3>
        <div class="containerItens align-items-center justify-content-center">
          <div class="planos col-3">
            <h4>OPERACIONAL</h4>
            <p>Execução das rotinas financeiras com excelência</p>
          </div>
          <div class="planos col-3">
            <h4>ANALÍTICO</h4>
            <p>
              Execução das rotinas financeiras com excelência <br /><br />
              Relatórios de análises<br /><br />
              Acompanhamento
            </p>
          </div>

          <div class="planos col-3">
            <h4>ESTRATÉGICO</h4>
            <p>
              Execução das rotinas financeiras com excelência <br /><br />
              Relatórios de análises avançados<br /><br />
              Acompanhamento avançados<br /><br />
              Orientações
            </p>
          </div>

          <div class="planos col-3">
            <h4>ON DEMAND</h4>
            <p>
              Plano focado em necessidades específicas não descritas nos planos anteriores
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</aside>

<section class="cta">
  <div class="cta-content ">
    <div class="container px-5  ">
      <div class="row gx-5 align-items-center justify-content-center ">
        <div class="col-lg-10">
          <h3 class="titulo3 mb-4" id="BENEFICIOS">BENEFÍCIOS</h3>
          <div class="col-12 text-center"> <span class="bgRoxo mb-3">Se concentre em suas principais competências e
              tenha mais tempo para fazer a sua
              empresa crescer</span></div>

          <div class="mt-3">
            <img src="../assets/img/homem02.png" class="img-fluid" alt="home dados" />
            <div class="col-lg-10 linha2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="" id="download">
  <div class="container px-5">


    <div class="row gx-5 align-items-center justify-content-center ">
      <div class="col-10 clientes mb-4">
        <h3 class="texto mb-4">CLIENTES</h3>

        <div class="container text-center my-3 ">
          <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="col-md-3">
                    <div class=" clientesItem">
                      <img src="../assets/img/l01.jpeg" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="carousel-item ">
                  <div class="col-md-3">
                    <div class="clientesItem">
                      <img src="../assets/img/l02.jpeg" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="carousel-item ">
                  <div class="col-md-3">
                    <div class="clientesItem">
                      <img src="../assets/img/l03.jpeg" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="carousel-item ">
                  <div class="col-md-3">
                    <div class="clientesItem">
                      <img src="../assets/img/l04.jpeg" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="carousel-item ">
                  <div class="col-md-3">
                    <div class="clientesItem">
                      <img src="../assets/img/l05.jpeg" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <section class="bg2">
    <div class="container px-5  ">
      <div class="row gx-5 align-items-center justify-content-center ">
        <div class="col-lg-10">
          <h3 class="titulo3 mb-4" id="CONTATO">CONTATO</h3>

          <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
            <strong>Atenção!</strong> {{errorMessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>


          <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
            <strong>Atenção!</strong> Mensagem enviada com sucesso.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>


          <div class="row ">
            <ul class="lista">
              <li><i class="bi bi-envelope-at-fill"></i> Email: <a href="mailto:contato@arcoverdeconsultoria.com.br"
                  style="color: #4bbfab;">
                  contato&#64;arcoverdeconsultoria.com.br</a></li>
              <li><i class="bi bi-telephone-fill"></i> Telefone:32 99175.1161 </li>
            </ul>
          </div>
          <br />
          <form [formGroup]="mailForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col">
                <div class="form-group mb-3">
                  <label for="nome" class="mb-1" style="color: white;">*Nome</label>
                  <input type="text" class="form-control" id="nome" formControlName="nome"
                    placeholder="Digite o seu nome" required />
                  <div *ngIf="mailForm.get('nome')?.errors?.['required'] && mailForm.get('nome')?.touched">
                    <div class="text-danger">Nome é obrigatório</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group mb-3">
                  <label for="email" class="mb-1" style="color: white;">*Email</label>
                  <input type="email" class="form-control" id="email" formControlName="email"
                    placeholder="Digite o seu email" required />
                  <div *ngIf="mailForm.get('email')?.errors?.['required'] && mailForm.get('email')?.touched">
                    <div class="text-danger">Email é obrigatório</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="assunto" class="mb-1" style="color: white;">*Assunto</label>
              <input type="text" class="form-control" id="assunto" formControlName="assunto"
                placeholder="Digite o assunto" required />
              <div *ngIf="mailForm.get('assunto')?.errors?.['required'] && mailForm.get('assunto')?.touched">
                <div class="text-danger">Assunto é obrigatório</div>
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="mensagem" class="mb-1" style="color: white;">*Mensagem</label>
              <textarea class="form-control" id="mensagem" rows="4" formControlName="mensagem"
                placeholder="Digite a sua mensagem" required></textarea>
            </div>
            <small style="color: white;">* Campos obrigatórios</small>

            <button type="submit" class="btn btn-primary btn-cor float-end"><i class="bi bi-send"></i> Enviar </button>
          </form>
        </div>
      </div>
    </div>
  </section>


</section>
<!-- Footer-->
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class=" containerItens mb-4 justify-content-center ">
        <div class="medias"><i class="bi bi-instagram"></i></div>
        <div class="medias "><i class="bi bi-facebook"></i></div>
        <div class="medias"><i class="bi bi-linkedin"></i></div>
      </div>
    </div>
    <div class="rodape">
      <div class=" small">
        <div class="mb-2">&copy; FPO+ - EMPRESA DO GRUPO ARCOVERDE SOLUÇÕES - TODOS OS DIREITOS RESERVADOS.</div>
      </div>
    </div>
  </div>
</footer>